*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch
.idea
*.yml
*.env
*.md
.dockerignore
.gitignore
.git
.github
*.pem
.pem
*.terraform
Makefile
tern

